<div class="mb-4 row">
  <div class="col-12 col-sm-6">
    <h1 class="h3 mb-0 text-gray-800"><%= I18n.t('chart.page_title') %></h1>
    <span class="mb-0 text-gray-800"><%= I18n.t('chart.page_subtitle') %></span>
  </div>
  <div class="col-12 col-sm-12 col-md-6 row justify-content-end align-items-center">
    <div class="col-12 col-sm-3 row justify-content-end align-items-center">
    <%= active_link_to new_site_path, class: 'btn btn-sm text-white shadow-sm w-100 btn btn-sm btn-dark shadow-sm wd-100' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
        <%= I18n.t('login.fields.new_site_button') %>
      <% end %>
    </div>
    <div class="col-12 col-sm-3">
      <%= active_link_to send_extract_xlsx_mailer_path, class: 'btn btn-sm btn-dark text-white shadow-sm w-100' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text" aria-hidden="true"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
        <%= I18n.t('extract.title_button') %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'dashboard/search' %>

<hr>

<%= turbo_frame_tag 'dashboard' do %>
  <%= render 'dashboard/stats' %>

  <div class="bg-light p-3">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <div
            class="card-body"
            data-controller="chart"
            data-chart-data-value='<%= @site_checks_by_hour_of_day.to_json %>'
          >
            <canvas data-chart-target="canvas"></canvas>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div
            class="card-body"
            data-controller="chart"
            data-chart-data-value='<%= @site_status_summary.to_json %>'
          >
            <canvas data-chart-target="canvas"></canvas>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div
            class="card-body"
            data-controller="chart"
            data-chart-data-value='<%= @average_response_time_per_site.to_json %>'
            data-chart-type-value='bar'
          >
            <canvas data-chart-target="canvas"></canvas>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div
            class="card-body"
            data-controller="chart"
            data-chart-data-value='<%= @group_response_time_trend.to_json %>'
            data-chart-type-value='bar'
          >
            <canvas data-chart-target="canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
