<div class="mb-4">
  <h1 class="h3 mb-0 text-gray-800"><%= I18n.t('chart.page_title') %></h1>
  <span class="mb-0 text-gray-800"><%= I18n.t('chart.page_subtitle') %></span>
</div>

<%= render 'dashboard/search' %>

<hr>

<%= turbo_frame_tag 'dashboard' do %>
  <%= render 'dashboard/stats' %>

  <div class="bg-light p-3">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <div
            class="card-body"
            data-controller="chart"
            data-chart-data-value='<%= @site_checks_by_hour_of_day.to_json %>'
          >
            <canvas data-chart-target="canvas"></canvas>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div
            class="card-body"
            data-controller="chart"
            data-chart-data-value='<%= @site_status_summary.to_json %>'
          >
            <canvas data-chart-target="canvas"></canvas>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div
            class="card-body"
            data-controller="chart"
            data-chart-data-value='<%= @average_response_time_per_site.to_json %>'
            data-chart-type-value='bar'
          >
            <canvas data-chart-target="canvas"></canvas>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div
            class="card-body"
            data-controller="chart"
            data-chart-data-value='<%= @group_response_time_trend.to_json %>'
            data-chart-type-value='bar'
          >
            <canvas data-chart-target="canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
